<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adobe.ACPCore.Android" version="0.0.1" targetFramework="monoandroid90" />
  <package id="Adobe.ACPIdentity.Android" version="0.0.1" targetFramework="monoandroid90" />
  <package id="Adobe.ACPLifecycle.Android" version="0.0.1" targetFramework="monoandroid90" />
  <package id="Adobe.ACPSignal.Android" version="0.0.1" targetFramework="monoandroid90" />
</packages>